@model IEnumerable<Project_Final.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @Html.ActionLink("Show all", "Index")
    @Html.ActionLink("Order By Medicine", "OrderByMedicine")
    @Html.ActionLink("Order By Description", "OrderByDescription")
</p>
@using (Html.BeginForm("Index", "Prescriptions", FormMethod.Get))
{
    <b>Search By:</b>
    @Html.RadioButton("SearchBy", "Medicine", true)

    <text>Medicine</text>
    @Html.RadioButton("SearchBy", "Price")

    <text>Description</text>
    <br />

    @Html.TextBox("search")
    <input type="submit" value="Search" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @if (item.doctor != null)
                    {
                        @Html.ActionLink(item.doctor.Name, "Details", "Doctors", new { id = item.DoctorId }, null)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.doctor.Name)
                    }
                </td>
                <td>
                    @if (item.patient != null)
                    {
                        @Html.ActionLink(item.patient.Name, "Details", "Patients", new { id = item.PatientId }, null)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.patient.Name)
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
