@model IEnumerable<Project_Final.Models.Prescription>

@{
    ViewData["Title"] = "OrderByDescription";
}

<h1>Order 5By Description</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Medicine)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.Price)
                </th>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Description)
                </td>
                <th>
                    @Html.DisplayNameFor(modelItem => item.doctor.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.patient.Id)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>